ul {
  &:first-child {
    list-style-type: none;
    margin-left: -20px;
  }
}

body {
  background: #aceaff;
}

.container {
  background-image: url("https://st.wetteronline.de/dr/1.1.553/images/logo/ogimage_wetteronline_1200x1200.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}



